<!doctype html>
<html>
    <head>
        <title>The Grove | Dashboard</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
        <link rel='icon' href='/img/favicon.ico'>
        

        <style>
            html,
            body {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            
            .header {
                font-weight: 300
            }
            
           
        </style>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper ">
                <a  class="brand-logo">&nbsp;<%= user.username %></a>
                <div class='row'>
                    <div class='col s7'>
                        <ul id="tabs" class='right hide-on-med-and-down'>
                            <li class="tab"><a href="#home">Home</a></li>
                            <li class="tab"><a href="#stats">Stats</a></li>
                            <li class="tab"><a href="#about">About</a></li>
                            <li class="tab"><a href="#options">Other Options</a></li>
                        </ul>
                    </div>
                    <div class='col s5'></div>
                </div>
            </div>
        </nav>
        <div id='home' class='row' style='height:100%;'>
            <div class='col s4 grey lighten-2' style='height:100%;padding-left:20px;'>
                <br>
                <h3 class='header'>Actions</h3>
                <br>
                <a href='/play' class='waves-effect waves-light btn-large light-green z-depth-3'>Enter the Grove</a>
                 <br><br><a href='/settings' class='waves-effect waves-light btn-large blue z-depth-3'>Settings</a>
                <br><br><a href='/logout' class='waves-effect waves-light btn-large red z-depth-3'>Logout</a>
                <p class=>Or check out the "Other Options" page for some cool grove-related links!</p>
    
            </div>
            <div class='col s8 teal lighten-2' style='height:100%;padding-left:40px;'>
                <br>
                <h3 class='header'>Active Quests:</h3>
                <div id='quests'>
                    <p class='flow-text'>» Your current quest is:  <%=user.quest%></p>
                </div>
                <h3 class='header'>Current Group:</h3>
                <p class='flow-text'>You aren't in a group! Click in-game friends and click the 'join group' icon to join their group.</p>
            </div>
        </div>
        <!-- Stats -->
        <style>
            #stats {
                background: #81c784;
                height:100%;
                width:100%;
            }
            #options {
                background: #81c784;
                height:100%;
                width:100%;
            }
             .random {
                background: #81c784;
                height:100%;
                width:100%;
            }
            .links {
                font-size: 25px;
                font-family: serif;
            }
            .other {
                font-family: serif;
            }
        </style> 
        <div id='stats' class=''>
            <br>
            <table class='centered'>
                <thead>
                    <tr>
                        <th>Stat</th>
                        <th>Value</th>
                        <th>Stat</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Level</td>
                        <td>
                            <%= user.level %>
                        </td>
                        <td>Map</td>
                        <td>
                            <%= user.map %>
                        </td>
                    </tr>
                    <tr>
                        <td>Race</td>
                        <td>
                            <%= user.race %>
                        </td>
                        <td>Class</td>
                        <td>
                            <%= user.class %>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div id='about' style='overflow:auto'>
            <h4 class='green-text text-darken-3'>&nbsp;About (mainly recent updates and stuff)</h4>
            
   Recent Updates:
 
  2/22/17: Added an "Other Options" page, so check out all the links!
 
  2/22/17: Made The Grove more user friendly!

  2/22/17: Reset update log. Check back more often to not miss anything! 
 
  1/29/17: Created a password reset!</pre>
         <!-- Other Options -->
        </div>
       <div id='options' style='overflow:auto'>
           <h4 class='other'>&nbsp; Other Options (Other links related to The Grove)</h4>
           <p class='links' >&nbsp; Head to the Grove Website <a href='http://www.grove-mmo.com/'>here</a>!</p>
           <p class='links' >&nbsp; Donate to the cause <a href='https://www.gofundme.com/grove-mmo?utm_medium=wdgt'>here</a>!</p>
           <p class='links' >&nbsp; Want to play the very first Grove? Play it  <a href='http://codepen.io/tramans/full/bdOgEq'>here</a>!</p>
        <script>
            $(document).ready(function () {
                $('ul#tabs').tabs();
            });
        </script>
    </body>

</html>