<!doctype html>
<html>

    <head>
        <title>The Grove | Dashboard</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
        <link rel='icon' href='/img/favicon.ico'>
        

        <style>
            html,
            body {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            
            .header {
                font-weight: 300
            }
            
           
        </style>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper ">
                <a  class="brand-logo">&nbsp;<%= user.username %></a>
                <div class='row'>
                    <div class='col s6'>
                        <ul id="tabs" class='right hide-on-med-and-down'>
                            <li class="tab"><a class='active wave-effect waves-light' href="#home">Home</a></li>
                            <li class="tab"><a href="#stats">Stats</a></li>
                            <li class="tab"><a href="#about">About</a></li>
                        </ul>
                    </div>
                    <div class='col s6'></div>
                </div>
            </div>
        </nav>
        <div id='home' class='row' style='height:100%;'>
            <div class='col s4 grey lighten-2' style='height:100%;padding-left:20px;'>
                <br>
                <h3 class='header'>Actions</h3>
                <br>
                <a href='/play' class='waves-effect waves-light btn-large light-green z-depth-3'>Enter the Grove</a>
                <br><br><a class='waves-effect waves-light btn-large green z-depth-3' href="https://www.gofundme.com/grove-mmo?utm_medium=wdgt">Donate Now!</a>
                 <a href='/settings' class='waves-effect waves-light btn-large blue z-depth-3'>Settings</a>
                <br><br><a href='/logout' class='waves-effect waves-light btn-large red z-depth-3'>Logout</a>
    
            </div>
            <div class='col s8 teal lighten-2' style='height:100%;padding-left:40px;'>
                <br>
                <h3 class='header'>Active Quests:</h3>
                <div id='quests'>
                    <p class='flow-text'>» You are playing on  <%=user.map%></p>
                </div>
                <h3 class='header'>Current Group:</h3>
                <p class='flow-text'>You aren't in a group! Click in-game friends and click the 'join group' icon to join their group.</p>
            </div>
        </div>
        <!-- Stats -->
        <style>
            #stats {
                background: #81c784;
                height:100%;
                width:100%;
            }
             .random {
                background: #81c784;
                height:100%;
                width:100%;
            }
        </style>
        <div id='stats' class=''>
            <br>
            <table class='centered'>
                <thead>
                    <tr>
                        <th>Stat</th>
                        <th>Value</th>
                        <th>Stat</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Level</td>
                        <td>
                            <%= user.level %>
                        </td>
                        <td>Map</td>
                        <td>
                            <%= user.map %>
                        </td>
                    </tr>
                    <tr>
                        <td>Race</td>
                        <td>
                            <%= user.race %>
                        </td>
                        <td>Class</td>
                        <td>
                            <%= user.class %>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
       <div id='about' style='overflow:auto'>
        <h4 class='green-text text-darken-3'>&nbsp;About (mainly recent updates and stuff)</h4>
        <pre class='green-text text-darken-4'> Congratulations! You found the About page! 
 Recent Updates:</pre>
 <pre class='green-text text-darken-4'> 1/29/17: Created a password reset!</pre>
        <script>
            $(document).ready(function () {
                $('ul#tabs').tabs();
            });
        </script>
    </body>

</html>